{
   "AWSTemplateFormatVersion" : "2010-09-09",

   "Description" : "Single bucket template- used for testing CloudFormation deployment wrappers.",

    "Resources" : {
        "HelloBucket" : {
            "Type" : "AWS::S3::Bucket",
            "Properties" : {
               "AccessControl" : "Private"
            }
        }
    }
}
